body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color:rgba(194, 133, 54, 0.808);
  }
  
  header {
    background-color: #f1da0a;
    color: #272626;
    text-align: center;
    padding: 1rem;
    background-image: url('slider.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  
  main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  h2 {
    border-bottom: 1px solid #424242;
    padding-bottom: 0.5rem;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  
  input,
  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
  }
  
  button {
    padding: 0.5rem 1rem;
    background-color: #1e2020;
    color: #df1616;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #494848;
  }
  
  .blog-post {
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    padding: 1rem;
  }
  .blog-post img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .blog-post video {
    max-width: 100%;
    height: auto;
  }